<div class="master container-fluid p-3">
    <ul class="nav nav-tabs mb-1">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/user/connections">Connections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/teams">Teams</a>
      </li>
    </ul>
    


<div class="mycard p-4 mb-2">
    <h1 class="display-4">Connections<span><button class="btn btn-success float-right my-3" routerLink='/user/people'><i class="fas fa-user-friends"></i> Invite</button></span></h1>
    <div class="my-3">
                <table class="table table-borderless table-md text-center ">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Team Name</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>mark@email.com</td>
                                <td>Dream team</td>
                                <td><button class="btn btn-danger">Remove</button></td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>jacob@email.com</td>
                                <td>-</td>
                                <td><button class="btn btn-danger">Remove</button></td>
                              </tr>
                            </tbody>
                          </table>
    </div>
</div>
<!-- <div class="mycard p-4 mb-2">
          <h1 class="display-4">Account<span><button class="btn btn-success float-right my-3" routerLink='/user/newteam'><i class="fas fa-cog"></i> Change</button></span></h1>
          <div class="my-3 d-flex">
                <div class="left">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="..." class="img-thumbnail avatar-big">
                </div>
                <div class="right ml-3">
                      <h1>User Name</h1>
                </div>
                      
          </div>
</div> -->
</div>
