<div class="master container-fluid p-3">
            <ul class="nav nav-tabs mb-1">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/user">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/connections">Connections</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/user/teams">Teams</a>
              </li>
            </ul>
            
      <div class="mycard p-4 mb-2">
            <h1 class="display-4">Projects<span><button class="btn btn-success float-right my-3" routerLink='/user/newproject'><i class="fas fa-folder-plus"></i> New</button></span></h1>
            <hr>
            <div *ngFor = "let project of projects">
              <div class="project d-flex my-3">
                <h3 class="flex-fill">{{ project.name }}</h3>
                <button class="btn fab btn-success" (click)="dashnavigator(project.name)"><i><i class="fas fa-arrow-right" ></i></i></button>
              </div>
            </div>
            
           
      </div>
  
</div>
