<div class="master container-fluid p-3">
<div class="mycard p-4">
  <div>
    <h1 class="display-4">Profile Settings <span><button class="btn btn-success float-right my-3" routerLink='/user'><i
            class="fas fa-home"></i> Home</button></span></h1>

    <div class="d-flex mt-4">
            <div class="left d-flex flex-column">
                    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="..." class="img-thumbnail avatar-big">
                    <div class="progress mt-3" style="height: 30px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                          </div>
                    <button class="btn btn-success float-right my-3" > Change Picture</button>
        </div>
        <div class="center ml-3 flex-fill">
              <h3>User Name</h3>
        </div>
        <div class="right ml-3">
                <button class="btn btn-success float-right my-3" data-toggle="modal" data-target="#exampleModal">Edit Profile</button>
        </div>
              
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      </div>  