<div class="dash">
  <div class="left">
    <div class="navlist" >
        <div class="navicon p-3">
          <i class="fas fa-home"(click)="sidenavigator('home')"></i>
        </div>
    
        <div class="navicon p-3" [routerLink]="['bugs']">
          <i class="fas fa-bug"></i>
        </div>
      
      <div class="navicon p-3">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="navicon p-3">
        <i class="fas fa-map-signs"></i>
      </div>
      <div class="navicon p-3">
        <i class="fas fa-calendar-alt"></i>
      </div>
    </div>
  </div>
    <div class="right">
      <router-outlet></router-outlet>
    </div>
  </div>
