<div class="dash">
  <div class="left">
    <div class="navlist">
      <a routerLink="/user/dashboard">
        <div class="navicon p-3">
          <i class="fas fa-home"></i></div>
      </a>
      <a>
        <div class="navicon p-3">
          <i class="fas fa-bug"></i>
        </div>
      </a>
      <div class="navicon p-3">
        <i class="fas fa-chart-line"></i>
      </div>
      <div class="navicon p-3">
        <i class="fas fa-map-signs"></i>
      </div>
      <div class="navicon p-3">
        <i class="fas fa-calendar-alt"></i>
      </div>
    </div>
  </div>
    <div class="right">
      

    </div>
  </div>
