<div class="master container-fluid p-3">
<div class="mycard p-4">
        <div >
              <h1 class="display-4">New Project<span><button class="btn btn-success float-right my-3" routerLink='/user'><i class="fas fa-home"></i> Home</button></span></h1>
        </div>
        <div>
                <form>
                       
                        <div class="form-group">
                          <label for="inputAddress">Project Name*</label>
                          <input type="text" class="form-control" id="inputAddress" >
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Project Description</label>
                          <input type="text" class="form-control" id="inputAddress2">
                        </div>
                        <div class="form-row">
         
                            <div class="col-xs-12 col-12 col-md-6 form-group">
                                    <label for="inputAddress2">Project Duration*</label>
                                    <input type="text"
                                           placeholder="Start Date - End Date [YYYY-MM-DD]"
                                           class="form-control"
                                           bsDaterangepicker
                                           [bsConfig]="{  isAnimated: true , rangeInputFormat: 'YYYY-MM-DD' }">
                                  </div>
                            <div class="col-xs-12 col-12 col-md-6 form-group">
                                    <label for="inputAddress2">Team</label>
                                    <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                          </select>
                                  </div>
                                

                        </div>
                      
                        <button type="submit" class="btn btn-success">Create Project</button>
                      </form>
              
                  
                              
                    

        </div>
  </div>
</div>
  