<div class="header bg-light d-flex justify-content-between px-3 py-2 ">
    <div>
        <h3>Reporter</h3>
    </div>
    <div>
          <button type="button" class="btn btn-link " data-toggle="tooltip"  data-placement="bottom"  title="Account Settings" routerLink="/accountsettings">
            <i class="fas fa-cog"></i>
          </button>
        
                <div class="btn-group" data-toggle="tooltip"  data-placement="bottom"  title="Notifications">
                      <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                      </button>
                      <div class="dropdown-menu dropdown-menu-lg-right shadow-sm">
                        <button class="dropdown-item" type="button">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, minus!</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                      </div>
                    </div>
          <button class="btn btn-outline-success mx-2 my-sm-0" >Sign Out</button>
    </div>
</div>
