<div class="master container-fluid p-3">
    <ul class="nav nav-tabs mb-1">
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user/connections">Connections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/user/teams">Teams</a>
      </li>
    </ul>
    
<div class="mycard p-4 mb-2">
    <h1 class="display-4">Teams<span><button class="btn btn-success float-right my-3" routerLink='/user/newteam'><i class="fas fa-users"></i> New</button></span></h1>
</div>
<!-- <div class="mycard p-4 mb-2">
          <h1 class="display-4">Account<span><button class="btn btn-success float-right my-3" routerLink='/user/newteam'><i class="fas fa-cog"></i> Change</button></span></h1>
          <div class="my-3 d-flex">
                <div class="left">
                            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="..." class="img-thumbnail avatar-big">
                </div>
                <div class="right ml-3">
                      <h1>User Name</h1>
                </div>
                      
          </div>
</div> -->
</div>
