<div class="master container-fluid p-3">
<div class="mycard p-4">
    <div>
      <h1 class="display-4">People <span><button class="btn btn-success float-right my-3" routerLink='/user'><i class="fas fa-home"></i> Home</button></span></h1>

          <div class="row mt-3">
              <div class="col">
                    <div class="card">
                            <div class="card-header">
                              Send an invite
                            </div>
                            <div class="card-body">
                                    <form>
                                            <div class="form-group">
                                              <label for="exampleInputEmail1">Email address</label>
                                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                            </div>
                                            <button type="submit" class="btn btn-success">Send Invite</button>
                                          </form>
                            </div>
                          </div>
              </div>
              <div class="col">
                    <div class="card">
                            <div class="card-header">
                              Request Status
                            </div>
                            <div class="card-body">
                              <div class="person">
                                  <h6 class="card-title">Sharath <span class="badge badge-pill badge-secondary px-2 py-1 mx-1">Pending</span></h6>
                                  <p class="text-muted"><i>Sent on Date goes here</i> <span class="float-right"><button class="btn btn-success">Cancel Invite</button></span></p> 
                              </div>
                            </div>
                            <div class="card-body">
                              <div class="person">
                                  <h6 class="card-title">Sharath <span class="badge badge-pill badge-secondary px-2 py-1 mx-1">Failed</span></h6>
                                  <p class="text-muted"><i>Sent on Date goes here</i> <span class="float-right"><button class="btn btn-success">Cancel Invite</button></span></p>
                              </div>
                            </div>
                          </div>
              </div>
          </div>
    </div>
  </div>
  </div>
  